language = "bash"
run = """ # for dumb reason repls toml syntax highlighter doesn't recognise multiline strings. this file is valid.
clear && source=$(pwd) &&mkdir -p ../build && cd ../build
cmake -D CMAKE_BUILD_TYPE=Debug -G Ninja $source && cmake --build .
echo "$(tput setaf 1)-- Executing binary$(tput sgr 0)"
/home/runner/build/main
"""